<div class="body">
        <app-full-build></app-full-build>

        <div class="container">
        <span>Building materials</span>
                <ul><!--dropdown1-->
                        <li>bid 1</li>
                        <li>bid 2</li>
                </ul>
                <span>Electronics</span>
                <ul><!--dropdown1-->
                        <li>bid 1</li>
                        <li>bid 2</li>
                </ul>

                <span>Interior/Furniture</span>
                <ul><!--dropdown1-->
                        <li>bid 1</li>
                        <li>bid 2</li>
                </ul>
        </div>
</div>