<div class="body">
        <app-full-build></app-full-build>

        <div class="container">
                <div class="tab-title">Bidding</div>
                <div class="content">
                        <p class="content-title">
                                Building Materials
                        </p>
                        <ul class="content-list">
                                <li>Bid 1</li>
                                <li>Bid 2</li>
                        </ul>
                </div>     
                <div class="content">
                        <p class="content-title">
                                Electronics
                        </p>
                        <ul class="content-list">
                                <li>Bid 1</li>
                                <li>Bid 2</li>
                        </ul>
                </div> 
                <div class="content">
                        <p class="content-title">
                                Building Materials
                        </p>
                        <ul class="content-list">
                                <li>Bid 1</li>
                                <li>Bid 2</li>
                        </ul>
                </div> 
        </div>
</div>


<!-- <div class="container">
<span>Building materials</span>
        <ul>
                <li>bid 1</li>
                <li>bid 2</li>
        </ul>
        <span>Electronics</span>
        <ul>
                <li>bid 1</li>
                <li>bid 2</li>
        </ul>

        <span>Interior/Furniture</span>
        <ul
                <li>bid 1</li>
                <li>bid 2</li>
        </ul>
</div> -->