.body {
    display: flex;
    flex-direction: row;

    .container {      
        background: no-repeat center/100% url("../../../../assets/images/bg2.jpg");
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border-radius: 0.2em;

        .tab-title {
            color: var(--primary);
            font-size: 2em;
            letter-spacing: 2px;
            font-weight: bold;
            margin: 1em;
            // border: 2px solid red;
        }

        .content {
            // border: 2px solid green;
            width: 90vw;
            height: fit-content;
            background-color: #fcfcfc;
            align-self: center;

            .content-title {
                font-size: 1.5em;
                color: var(--primary-light);
                letter-spacing: 2px;
                border: none;
                border-bottom: 1px solid var(--primary-light);
                margin: 0.5em 1em;
                padding-bottom: 0.5em;
                // border: 2px dashed pink;
            }

            .content-list {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                // border: 2px solid gold;

                li {
                    letter-spacing: 1.5px;
                    // border: 2px solid brown;
                    margin: 0.5em 0;
                    font-size: 1.2em;
                }
            }
        }
    }
}