.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary);
    height: fit-content;
    color: var(--secondary);


    p{
        font-size: 1.5em;
        &.big {
            font-size: 2em;
            font-weight: 600;
        }
    }
}

section { 
    height: 50vh;
    width: 40vw;
    margin: 5em;
    display: flex;    
    align-items: flex-end;    
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-property: flex-grow, filter, -webkit-filter, transform;
    color: var(--secondary);  
    cursor: pointer;
    

    &:hover {
        content: 'lorem';
        flex-grow: 5;
        transform: rotate(20);
        box-shadow: 0 2px 6px 2px #525252;     
        //-webkit-filter: blur(4px);
        //filter: blur(4px);

        .details{
            //background-color: rgba($color: #000000, $alpha: 0.5);
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 71%, rgba(75,75,75,0) 100%, rgba(0,212,255,0) 100%);
        }
        
        .description {

            &#single::before{
               z-index: 99;
                
                content: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores sit repudiandae reiciendis quae consequuntur itaque cupiditate obcaecati accusamus esse facere sunt dolor fuga perferendis, ea laborum vitae animi deleniti ex!';
                text-decoration: none;
            }

            &#full::after{
                content: 'FULL BUILD  ipsum dolor sit, amet consectetur adipisicing elit. Maiores sit repudiandae reiciendis quae consequuntur itaque cupiditate obcaecati accusamus esse facere sunt dolor fuga perferendis, ea laborum vitae animi deleniti ex!';
                text-decoration: none;
            }
            
        }
    }

    &.full {
        background: no-repeat center/100% url("../../assets/images/full-build.jpg");
        background-size: cover;
    }

    &.single {
        background: no-repeat center/100% url("../../assets/images/single.jpg");
        background-size: cover;
    }

    .details {
        padding: 0 1em;  
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        //background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 71%, rgba(255,255,255,0) 100%, rgba(0,212,255,0) 100%);


        .title {
            font-weight: bold;
            font-size: 2em;
            //flex-grow: 1;
            position: relative;
            
        }
    
        .description {
            //align-self: flex-end;
            position: relative;
    
        }
    }   

}

.body{
    display: flex;
    justify-content: center;
}

@media (max-width: 720px){
    .nav{
        flex-direction: column;
        height: fit-content;
        margin-bottom: 1.5em;
    }
    
    section { 
        margin: 0;
        margin-bottom: 1em;
        width: 90vw;
    }

    .body{
        flex-direction: column;
        align-items: center;
    }
}