<div class="nav">
    <p class="big">Welcome, Client</p>
    <p>Get Started</p>
</div>

<div class="body">
    <section class="full" [routerLink]="[ '/full-build' ]" routerLinkActive="active">
            <div class="title">
                FULL BUILD
     
            </div>
            <p>
                
            </p>
    </section>
    
    <section class="single" [routerLink]="[ '/single-build' ]" routerLinkActive="active">
        <div class="title">
            SINGLE BUILD
        </div>
        <p>
    
        </p>
    </section>
</div>


