.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary);
    height: 10vh;
    color: var(--secondary);


    p{
        font-size: 1.5em;
        &.big {
            font-size: 2em;
            font-weight: 600;
        }
    }
}

section { 
    
    height: 50vh;
    width: 40vw;
    margin: 5em;
    display: flex;    
    align-items: flex-end;    
    transition: 0.5s all ease-in-out;
    

    &.full {
        background: no-repeat center/100% url("../../assets/images/full-build.jpg");
    }

    &.single {
        background: no-repeat center/100% url("../../assets/images/single.jpg");
    }

    div {
        color: var(--secondary);
        font-weight: bold;
        font-size: 2em;
        padding: 1em;
        flex-grow: 1;

    }
}