.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary);
    height: fit-content;
    color: var(--secondary);


    p{
        font-size: 1.5em;
        &.big {
            font-size: 2em;
            font-weight: 600;
        }
    }
}

section { 
    height: 50vh;
    width: fit-content;
    margin: 5em;
    display: flex;    
    align-items: flex-end;    
    transition: 0.5s all ease-in-out;
    color: var(--secondary);  
    cursor: pointer;
    flex-basis: 40vw;

    &:hover {
        content: 'lorem';
        flex-grow: 5;
        box-shadow: 0 2px 6px 2px #525252;     

        -webkit-filter: blur(4px);
        filter: blur(4px);
        
        .description::after {
            content: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores sit repudiandae reiciendis quae consequuntur itaque cupiditate obcaecati accusamus esse facere sunt dolor fuga perferendis, ea laborum vitae animi deleniti ex!';
            text-decoration: none;
        }
    }

    &.full {
        background: no-repeat center/100% url("../../assets/images/full-build.jpg");
        background-size: cover;
    }

    &.single {
        background: no-repeat center/100% url("../../assets/images/single.jpg");
        background-size: cover;
    }

    .details {
        padding: 0 1em;

        .title {
            font-weight: bold;
            font-size: 2em;
            flex-grow: 1;
        }
    
        .description {
            align-self: flex-end;
        }
    }   

}

.body{
    display: flex;
}

@media (max-width: 1020px){
    .nav{
        flex-direction: column;
        height: fit-content;
        margin-bottom: 1em;
    }
    
    section { 
        margin: 0;
        width: 90vw;
        margin-bottom: 1em;
    }

    .body{
        flex-direction: column;
        align-items: center;
    }
}