<div class="nav">
    <p class="big">Welcome, Client</p>
    <p>Get Started</p>
</div>

<div class="body">
    <a [routerLink]="[ '/full-build' ]" routerLinkActive="active">
    <section class="full">
        <div class="title">
            FULL BUILD
        </div>
        <p class="description">
            
        </p>
    </section>
    <section class="single">
        <div class="title">
            SINGLE BUILD
        </div>
        <p class="description">
            
        </p>
    </section>
            <div class="title">
                FULL BUILD
     
            </div>
            <p>
                
            </p>
        </section>
    </a>
    
    <a [routerLink]="[ '/single-build' ]" routerLinkActive="active">
  
        <section class="single">
            <div class="title">
                SINGLE BUILD
            </div>
            <p>
        
            </p>
        </section>
    </a>
</div>


