.main {
    margin-top: 2em;
    font-size: 28px;
    border-radius: 8px;
    width: 100%;
    background-color: rgb(255, 255, 255,);
    display: flex;
    flex-wrap:wrap;
    align-items: center
    
}

.form-col {
    display:flex;
    flex-direction: row;
}
.form-col > div {
    background-color: #f1f1f1;
    width: 22.9vw;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

.form-row{
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
}

.form-row > div {
    background-color: #f1f1f1;
    width: 22.9vw;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 16px;
  }