.main {
    margin-top: 2em;
    font-size: 28px;
    border-radius: 8px;
    width: 50%;
    background-color: rgb(255, 255, 255,);
    display: flex;
    align-items: center
    
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) 200px;
    background-color: #fff;
    color: #444;
    position:fixed;
}

.transac{
    background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 50%;
  
}