<nav>
    <button class="menu">
        <i class="material-icons" (click)="toggle()">
                view_headline
        </i>
    </button>
    <h1>PRECURE</h1>
    <div class="nav-buttons" [@openClose]="isOpen ? 'open' : 'closed'">
        <a [routerLink]="[ '/single-build' ]" routerLinkActive="active">
            <i class="material-icons">
                chrome_reader_mode
            </i>
            Single-Build
        </a>
        <a [routerLink]="[ '/full-build' ]" routerLinkActive="active">
            <i class="material-icons">
                view_headline
            </i>
            Full-Build
        </a>
    </div>
</nav>