
<div class="container">
    <div class="logo">
        <a [routerLink]="['/client']" routerLinkActivate="active" tooltip="Home" placement="right">
            <img src="../../../../../assets/icons/icon-72x72.png" height="50px" width="50px" />
        </a>
    </div>
    <a [routerLink]="['/fb-order']" routerLinkActive="active" tooltip="Purchase Orders" placement="right">
        <i class="material-icons">
                add_shopping_cart
        </i>
    </a>
    <a [routerLink]="['/bidding']" routerLinkActive="active" tooltip="Bidding" placement="right">
        <i class="material-icons">
                attach_money
        </i>
    </a>
    <a tooltip="Transaction History" placement="right">
        <i class="material-icons">
                history
        </i>
    </a>
</div>
