
<div>
    <span class="title">What I want to be supplied for building :</span>
    <input type="text" placeholder=""><br>
    <span class="title">Attach blue print:</span>
    <input type="file" placeholder=""><br>
    <h2>Blue Print Summary(key ingredients)</h2>
    <span>Area:</span>
    <input type="number" placeholder=""><br>
    <span>Volume:</span>
    <input type="number" placeholder=""><br>
    <span>Gross area:</span>
    <input type="number" placeholder=""><br>
    <span>Net area:</span>
    <input type="number" placeholder=""><br>
    <button class="solid" (click)="placeOrder()">Go</button>
</div>  