:root{
    --primary: #ff3d00;
    --primary-light:  #ff7539;
    --primary-dark: #c30000;

    --secondary: #eeeeee;
    --secondary-light: #ffffff;
    --secondary-dark: #bcbcbc;
}

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    overflow-x: hidden;
}

i{
    &.material-icons{
        cursor: default;
    }
}

.title{
    color: var(--primary);
    cursor: default;
    font-size: 1.5em;
}

input[type="text"]{
    font-size: 1em;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    margin-bottom: 1.25em;
    padding: 0;
    outline: none;

    &:focus{
        border-bottom-color: var(--primary-dark)
    }
}

button{
    font-size: 1em;
    border: none;
    width: 100%;
    padding: 0.75em;  
    font-weight: 600;
    outline: none;

    &.solid{
        border-radius: 7px;
        background-color: var(--primary);
        color: #ffffff;
        transition-property: opacity;
        transition-timing-function: ease-in;
        transition-duration: 125ms;

        &:hover{
            opacity: 0.75;
        }

        &:active{
            background-color: var(--primary-dark);
        }
    }

    &.bold{
        background-color: transparent;
        color: var(--primary);

        transition-property: opacity;
        transition-timing-function: ease-in;
        transition-duration: 125ms;

        &:hover{
            opacity: 0.75;
        }

        &:active{
            color: var(--primary-dark);
        }
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.supplier-dialog{
    .mat-dialog-container{
        background-color: var(--primary-light);
        color: #ffffff;
    }
}