:root{
    --primary: #ff3d00;
    --primary-light:  #ff7539;
    --primary-dark: #c30000;

    --secondary: #eeeeee;
    --secondary-light: #ffffff;
    --secondary-dark: #bcbcbc;
}

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    overflow-x: hidden;
}

i{
    &.material-icons{
        cursor: default;
    }
}