<app-client-nav></app-client-nav>

<!-- <button class="menu">
    <i class="material-icons" (click)="toggle()">
        view_headline
    </i>
</button> -->
<div class="topnav">
    <!-- <span class="close" (click)="close()">
        <i class="material-icons">
            close
        </i>
    </span> -->
    
    <a class="pending" [routerLink]="[ '/transactions-pending' ]" routerLinkActive="active">
        <i class="material-icons">
            view_headline
        </i>
            Transactions Pending 
    </a>

    <a class="complete" [routerLink]="[ '/transactions-complete' ]" routerLinkActive="active">
        <i class="material-icons">
            view_headline
        </i>
        Transactions Complete
    </a>
</div>







