.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  //background-image: url("../../../../assets/images/bg1.jpg");
  background-size: cover;
}

.main {
  margin-top: 1em;
  margin-left: 23%;
  margin-right: auto;
  font-size: 28px;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  background-color: rgb(255, 255, 255,);
  
}

.topnav {
    overflow: hidden;
    width: 100%;
    height: 10vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .topnav a {
    float: left;
    color: var(--primary);
    width:50vw;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 0.5em;
    font-weight: bold;
    transition: transform .5s;

    i {
      font-size: 1em;
      font-weight: bold;
    }
  }
  
  .topnav a.pending:hover {
    background-color: yellow;
    color: var(--primary-dark);
    transform: scale(1.1);
  }

  .topnav a.complete:hover {
    background-color: rgba(10, 238, 10, 0.87);
    color: var(--primary-dark);
    transform: scale(1.1);
  }
  
  .topnav a.pending.active {
    background-color: yellow;
    color: var(--primary-dark);
  }

  .topnav a.complete.active {
    background-color: rgb(10, 238, 10);
    color: var(--primary-dark);
  }